body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* min-width: 1200px; */
}

body a, Link {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.MySideDrawer .MuiPaper-root{
    width:30%;
}

input {
    padding: 0 10px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--defaultBorderColor);
}

input:focus {
    border: 1px solid var(--piaar-main-color);
    box-shadow: var(--defaultBoxShadow);
}

.icon-dot, .icon-must {
    display: inline-block;
    background-color: #ff545c;
    border-radius: 50%;
    vertical-align: middle;
}

.icon-must {
    position: relative;
    margin-left: 5px;
    width: 6px;
    height: 6px;
}

.flex-item {
    display: flex;
    gap: 5;
}

.flex-gap-5 {
}

.page-title {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 700;
}

@media only screen and (max-width:992px){
    .MySideDrawer .MuiPaper-root{
        width:70%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleOutToIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes scaleOutToIn {
    /* Firefox */
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes scaleOutToIn {
    /* Safari and Chrome */
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@-o-keyframes scaleOutToIn {
    /* Opera */
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
